node_modules/
**/node_modules/

.next/
**/.next/
*.tsbuildinfo

dist/
build/
coverage/
blockchain/artifacts/
blockchain/cache/

.env
**/.env
!/server/.env.example
!/client/.env.example
!/blockchain/.env.example
server/uploads/*
!server/uploads/.gitkeep
.DS_Store
